!!! XML
%html
  %head
    %script{:type => 'text/javascript', :src => "./phonegap.js"}
    %script{:type => 'text/javascript', :src => "./jquery.js"}
    %script{:type => 'text/javascript', :src => "./jquery.color.ver2.js"}
    %script{:type => 'text/javascript', :src => "./main.js"}
  %body
    %h1 droidgap test app
    %h2 accelerometer:
    %div#acc_vars
      %div#x
      %div#y
      %div#z
    %div#color
    %h2 logs
    %div#log
